<%= form_with(model: @post, local: true) do |form| %>
  <div>
    <%= form.label :title, "Title" %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, "Body" %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit "Create Post" %>
  </div>
<% end %>
